#telo{
    background-image: url(Boywth.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-color: rgb(240, 248, 255);
    background-blend-mode: multiply;
    box-shadow: 2px 5px 20px black;
    
}

#uvod{
    font-size: 400%;
    text-align: center;
    color: pink;
    font-family: 'system-ui',serif;
    text-shadow: 3px 3px 5px black;
    
}

#login{
    color:pink;
    text-shadow: 3px 3px 6px black;
    text-align: center;
}

#login1{   
    text-align: center;
    
}

#signup{
    color: pink;
    font-size: 200%;
    text-shadow: 3px 3px 6px black;
    text-align: center;
}

#signup1{
    text-align: center;
}

body{
    background-color: rgba(240, 248, 255, 1);
opacity: 1;
background: radial-gradient(circle, transparent 20%, rgba(240, 248, 255, 1) 20%, rgba(240, 248, 255, 1) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, rgba(240, 248, 255, 1) 20%, rgba(240, 248, 255, 1) 80%, transparent 80%, transparent) 50px 50px, linear-gradient(#f586f3 4px, transparent 4px) 0 -2px, linear-gradient(90deg, #f586f3 4px, rgba(240, 248, 255, 1) 4px) -2px 0;
background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
margin: 0px;
}